.mt-10{
	margin-top: 10%;
}
.mt-5{
	margin-top: 5%;
}
input{
	width: 90%;
}
.select{
	width: 70%;
}
.bg-verde{
	background-color: rgba(63,191,127,0.6);
	width: 60%;

}
.bg-rojo{
	background-color: rgba(191,63,63,0.6);
	width: 60%;


}
.img{
	width: 80%;
	height: 200px;
}
.msj{
	background-color: #FF89DC;
	width: 50%;
	height: 60px;
}
